header{
    position: sticky;
    background-color: azure;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

header img{
    justify-content: flex-start;
    width: 90px;
}

header div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#cannabilis{
    font-family: 'Damion', cursive;
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#slogan{
    font-family: 'Cedarville Cursive', cursive;
    margin-top: 0px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

#steps{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

nav button{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 25%;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Sigmar One', cursive;
    height: 30%;
    width: 23%;
}

#steps button{
    width: 15%;
    margin: 10px, 50px;
    font-size: 20px;
    height: 100%;
}

#buying{
    background-color: azure;
    height: 100%;
}

button:hover{
    color: rgb(38, 145, 47);
}

#imgAndh1{
    display: flex;
    align-items: center;
}

#imgAndh1 figure{
    width: 75%;
}

#baby-weed{
    box-sizing: border-box;
    width: 100%;
}

.not-so-bad{
    width: 25%;
    height: 100%;
    font-family: 'Damion', cursive;
    font-size: 3.3rem;
    margin-right: 5%;
}

#firstArt{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 5%;
    margin-bottom: 10%;
    justify-content: center;
}

.styled-buttons{
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 1.5px;
    margin: 35px;
    font-size: 15px;
    cursor: pointer;
    width: 20%;
    padding: 7px;
    margin-left: 40%;
}

#go-to-2:hover{
    color: rgb(38, 145, 47);
}

#secondArt, #fourthArt{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}


#coder, #decoder{
    display: flex; 
    flex-direction: row;
    margin: 10%;
    margin-top: 2%;
    color: rgb(15, 121, 24);
    justify-content: space-around;
}

#written-text, {
    margin: 10px 0px;
}

#indicator{
    margin-bottom: 1%;
    margin-left: 50%;
}


#offset{
    width: 50%;
    margin-left: 50%
}


#encoding, #decoding{
    width: 150px;
    margin-left: 45%;
    margin-top: 80%;
}

#three{
    display: flex;
    justify-content: space-around;
}

#go-back, #go-to-fourth{
    width: 140px;
    margin-left: 45%;
}

#showing-message{
    display: flex;
    justify-content: space-around;
}

#sharing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#againCoding, #againDecoding{
    width: 170px;
    font-size: 13px;
}

#share{
    font-family: 'Sigmar One', cursive;
}